* {
   padding: 0;
   margin: 0;
   border: 0;
}


*,
*:before,
*:after {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}


:focus,
:active {
   outline: none;
}

a:focus,
a:active {
   outline: none;
}


nav,
footer,
header,
aside {
   display: block;
}


html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}


input,
button,
textarea {
   font-family: inherit;
}


input::-ms-clear {
   display: none;
}

button {
   cursor: pointer;
}

button::-moz-focus-inner {
   padding: 0;
   border: 0;
}

a,
a:visited {
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

ul li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: 400;
}


.container {
   font-size: 12px;
   display: flex;
   background-color: #fff;
   margin: auto;
   margin-top: 10px;
   width: 450px;
   height: 85vh;
}

.pdfContainer {
   margin: auto;
   
}

.personalInfo {

   color: #fff;
   padding: 8px;
   background-color: #01257D;
   height: 100%;
   width: 35%;
}

.userFoto {
   height: 100px;
   width: 100px;
   border-radius: 4px;
   background-color: #fff;
   object-fit: cover;
   object-position: center;
}

.firstInfo {
   margin-top: 8px;
   color: #fff;
}

.firstInfo>*:not(:last-child) {
   display: block;
   margin-bottom: 5px;
}

.userAbilities {
   margin-top: 10px;
   font-size: 10px;
}

.cvTitle {
   text-transform: uppercase;
   margin: 5px 0 5px 0;
}

.personalDetails {
   background-color: #dce0e8;
   font-size: 10px;
   padding: 10px 15px 0 5px;
   width: 100%;
}

.personalDetails h3 {
   color: #01257D;
   font-weight: 700;
   text-transform: uppercase;
   margin-bottom: 5px;
}

.personalDetails h4 {
   font-weight: 700;
   margin-bottom: 5px;
}

.userHistoryListFlex {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.userHistory {
   margin-bottom: 5px;
}

.userHistoryList li {
   margin-bottom: 5px;
}

.userHistoryList li p {
   margin-bottom: 3px;
}

.personalInfoList {
   margin: 5px 0 5px 0;
}

.userAbility {
   margin-bottom: 20px;
   border-bottom: 1px dotted white;
}

.skillLevel {
   margin-bottom: 5px;
   width: 60%;
   background-color: rgb(221, 221, 221);
}

.skillGradeBasic {
   text-align: right;
   height: 10px;
   padding-right: 20px;
   line-height: 40px;
   color: white;
   width: 30%;
   background-color: #4CAF50;
}

.skillGradeStudent {
   text-align: right;
   height: 10px;
   padding-right: 20px;
   line-height: 40px;
   color: white;
   width: 10%;
   background-color: #4CAF50;
}

.skillGradeMedium {
   text-align: right;
   height: 10px;
   padding-right: 20px;
   line-height: 40px;
   color: white;
   width: 65%;
   background-color: #4CAF50;
}

.skillGradeProfi {
   text-align: right;
   height: 10px;
   padding-right: 20px;
   line-height: 40px;
   color: white;
   width: 100%;
   background-color: #4CAF50;
}

.k-pdf-export p {
   background-color: #4CAF50;
}
