.container {
   display: flex;
   flex-direction: column;
}

.hiddenContainer {
   transition: all 0.5s;
   height: 50px;
}

p{
   margin-bottom: 5px;
}
.collapseButton {
   width: 100%;
   box-shadow: 3px 4px 0px 0px #899599;
   background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
   background-color: #ededed;
   border-radius: 3px;
   border: 1px solid #d6bcd6;
   display: inline-block;
   cursor: pointer;
   color: #3a8a9e;
   font-family: Arial;
   font-size: 17px;
   padding: 1px 70px;
   text-decoration: none;
   text-shadow: 0px 0px 21px #e1e2ed;
   text-transform: uppercase;
}

.collapseButton:hover {
   background: linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
   background-color: #bab1ba;
}

.textarea {
   min-width: 100%;
   min-height: 100px;
   border-radius: 4px;
   outline: none;
   resize: none;
   overflow: auto;
   border: 2px solid rgb(3, 20, 23);
   transition: all 0.4s;
   padding: 10px;
}

.textarea:focus {
   border: 2px solid rgb(5, 130, 152);
}

.topBlock {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 7px;
}